.contenedorForm{
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #7c716e;
}

.pt-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

form{
    color: white;
width: 50%;
margin: auto;
margin-bottom: 1em;
margin-top: 1em;
}

.form-control{
    padding: 10px 20px;
}

.btn-primary{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    transition: background-color 0.5s ease, transform 0.5s ease;
   
}

.btn-primary:hover{
    background-color: #77848C;
    transform: scale(1.1)

}

.form-check-label{
    color: #ffffff8c;
}

.error-message {
    color: white;
    margin-top: 10px;
  }

a{
    color: #ffffff8c;
    text-decoration: none;
}

.usuario{
    width: 70%;
    margin: auto;
}

.informacionPersonal{
    text-align: center;
}

.fotoDePerfil{
    width: 4em;
}

.table{
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
}

.btn-primary{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn-primary:hover{
    background-color: #77848C;
    transform: scale(1.1)

}


.text-guitar {
    font-optical-sizing: auto;
    font-weight: 0.5em;
    font-style: normal;

}

.text-guitar-carrousel {
    color: white;
    font-optical-sizing: auto;
    font-weight: 0.5em;
    font-style: normal;

}

.text-common {

    font-optical-sizing: auto;
    font-weight: 0.1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
 
}

.text-common-carrousel {
    color: white;
    font-optical-sizing: auto;
    font-weight: 0.1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.text-button-common {

    font-optical-sizing: auto;
    font-weight: 0.1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.text-card-descrip {

    font-optical-sizing: auto;
    font-weight: 0.1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}
.btn-success {
    background-color: black;
    color: white;
}

.titulo{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }