.table{
    width: 60%;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}
.btn-success{
    background-color: #7c716e;
}
.btn-eliminar{
    background-color: #83290e;
}
.btn-vaciar{
    background-color: #2d0a00;
    color: white;
}
.btn-primary{
 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn-primary:hover{
 
    transform: scale(1.1)

}
.bg-table-primary{
    background-color: #7c716e;
    color: white;
}
.bg-main{
    border: 1px solid black;
}

.text-guitar {
   
    font-optical-sizing: auto;
    font-weight: 0.5em;
    font-style: normal;
 
}

.text-guitar-carrousel {

font-optical-sizing: auto;
font-weight: 0.5em;
font-style: normal;

}

.text-common {

font-optical-sizing: auto;
font-weight: 0.1em;
font-style: normal;
font-variation-settings:
    "wdth" 100;

}

.text-common-carrousel {

font-optical-sizing: auto;
font-weight: 0.1em;
font-style: normal;
font-variation-settings:
    "wdth" 100;

}

.text-button-common {

font-optical-sizing: auto;
font-weight: 0.1em;
font-style: normal;
font-variation-settings:
    "wdth" 100;

}

.text-card-descrip {
font-optical-sizing: auto;
font-weight: 0.1em;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}
