<footer class="bg-primary-brown text-white py-4 px-3 footer mt-auto">
  <div class="container-fluid m-0">
    <div class="row">
      <div class="col-4 mb-2 px-4 border-end">
        <h3 class="mb-4 text-guitar text-center">Redes Sociales</h3>
        <ul class="list-unstyled d-flex justify-content-between align-items-center flex-wrap px-4">
          <li class="mb-2">
            <a href="https://www.facebook.com" target="_blank" class="btn btn-outline-light btn-sm mr-2 list-unstyled">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </li>
          <li class="mb-2">
            <a href="https://www.instagram.com" target="_blank" class="btn btn-outline-light btn-sm mr-2 list-unstyled">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com" target="_blank" class="btn btn-outline-light btn-sm list-unstyled">
              <i class="fab fa-youtube"></i> Youtube
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4 mb-2 px-4 border-end">
        <h3 class="mb-4 text-guitar text-center">Integrantes</h3>
        <ul class="list-unstyled d-flex justify-content-between align-items-center flex-wrap px-5">
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2"></i>
            <span class="text-common">Moyano Ignacio</span>
          </li>
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2"></i>
            <span class="text-common">Di Lauro Madelaine</span>
          </li>
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2"></i>
            <span class="text-common">Schiavone Uriel</span>
          </li>
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2 "></i>
            <span class="text-common">Miranda Patricio</span>
          </li>
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2"></i>
            <span class="text-common">Gasparrino Agostina</span>
          </li>
          <li class="mb-1 d-flex align-items-center">
            <i class="fa-solid fa-guitar me-2"></i>
            <span class="text-common">Insaurralde Agustin</span>
          </li>
        </ul>
      </div>
      <div class="col-4 mb-2 px-4">
        <h3 class="mb-4 text-guitar text-center">Contacto</h3>
        <ul class="list-unstyled d-flex justify-content-between align-items-center flex-wrap px-4">
          <li class="mb-2">
            <i class="fas fa-map-marker-alt"></i> <span class="text-common"> Florencio Varela 1903, San Justo</span>
          </li>
          <li class="mb-2">
            <i class="fas fa-clock"></i> <span class="text-common"> Lunes a Sabados - 08 a 18</span>
          </li>
          <li class="mb-2">
            <i class="fas fa-envelope"></i> <span class="text-common"> guitarsworkshop&#64;gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
