/* Estilos de styles.css */

.contenedorCartas {
  margin: auto;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.titulo {
 
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.card {
  width: 12rem;
 
}

.card-body {
  font-size: 0.8em;
  
}

.imagenMarcas {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tarjetaMarcas {
  width: 12em;
  margin-bottom: 1em;
  text-align: center;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(1);
}

.list-unstyled {
  font-size: 1.075rem; /* Ajusta el tamaño según sea necesario */
}

.carousel-image {
  width: 80%;
  height: 25rem;
  object-fit: cover;
}



a {
  color: inherit; /* Hereda el color del texto del elemento padre */
  text-decoration: none; /* Quita el subrayado */
  background-color: transparent; /* Fondo transparente */
  padding: 0; /* Sin relleno interno */
  margin: 0; /* Sin margen */
  font: inherit; /* Hereda la fuente del elemento padre */
}



.text-guitar {

  font-optical-sizing: auto;
  font-weight: 0.5em;
  font-style: normal;

}

.text-guitar-carrousel {

  font-optical-sizing: auto;
  font-weight: 0.5em;
  font-style: normal;
 
}

.text-common {

  font-optical-sizing: auto;
  font-weight: 0.1em;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

.text-common-carrousel {

  font-optical-sizing: auto;
  font-weight: 0.1em;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

.text-card-common {
  font-optical-sizing: auto;
  font-weight: 0.1em;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

.text-card-descrip {
  font-optical-sizing: auto;
  font-weight: 0.1em;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

/* Estilos específicos del product-component.css que no están en styles.css */

main {
  padding: 1em;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 80%;
  border-width: var(--bs-border-width);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  border-radius: 10px;
}

.product-image {
  text-align: center;
  width: 50%;
  margin: auto;
}

.product-image img {
  max-width: 50%;
  height: auto;
}

.product-details {
  border-width: var(--bs-border-width);
  border-left: var(--bs-border-width) solid var(--bs-border-color-translucent);
  width: 30%;
  padding: 2%;
  background-color: #7c716e;
  color: white;
}

.product-details h1 {
  font-size: 1.37em;
  color: white;
}

.product-price {
  font-size: 2em;

  margin: 10px 0;
}

.buy-button {

  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.buy-button:hover {

  transform: scale(1.1);
}

.tarjetaMarcas {
  border-width: var(--bs-border-width);
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
}
